.container{
  margin: 0 auto;
  padding:2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 428px;
  background-color:#000000;
}

button{
  background-image: radial-gradient(circle, #bababa, #cbcbcb, #dcdcdc, #ededed, #ffffff);
  opacity:68%;
  width:100px;
  height:70px;
  margin:2px;
  font-size:20px;
  border-radius: 8px;
}
 button:hover {
  background: #8C0000;
  color: white;
}

.display{
  width:420px;
  height:60px;
  margin:2px;
  background-color:#E9E7E7;
}
.dis{
    width:300px;
  height:50px;
  margin:2px;
  background-color:#E9E7E7;
}



}
